#bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.icon {
  color: rgb(255, 255, 255);
}
.icon-item {
  display: flex;
  align-items: center;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  column-gap: 4px;
  height: 20px;
}
.edit-icon {
  color: #000b39;
}
.trash-icon {
  color: #f8a751
}
