.assignment-container {
  display: flex;
  flex-direction: column;
}

.ajouterBtn {
  align-self: flex-end;
}

table {
  width: 100%;
}

.mat-column-id {
  color: red;
}

.example-item {
  height: 150px;
}

/* ASSIGNMENT BANNER */
.assignment-banner {
  background: url("../../assets/image/What-is-it-like-working-in-IT.jpg")
    no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 361px;
  position: relative;
  text-align: center;
  margin-top: 10px;
}

.assignment-banner:before {
  content: "";
  display: block;
  -webkit-filter: blur(1px) brightness(0.5);
  -moz-filter: blur(1px) brightness(0.5);
  -ms-filter: blur(1px) brightness(0.5);
  -o-filter: blur(1px) brightness(0.5);
  filter: blur(1px) brightness(0.5);
  position: absolute;
  left: 10px;
  top: 10px;
  right: 10px;
  bottom: 10px;
  background: inherit;
  z-index: 0;
}

.assignment-banner-content {
  position: relative;
  z-index: 10;
  padding-top: 50px;
}

.banner-title {
  font-family: arial;
  font-size: 3em;
  color: gold;
  font-weight: 900;
  margin: 20px;
}

.banner-text {
  font-family: arial;
  font-size: 2em;
  color: white;
  font-weight: 100;
  padding: 20px;
  border: 1px solid gray;
  display: inline-block;
  width: 40%;
}
/* LIST ASSIGNMENTS */
.assignment-content {
  display: flex;
  flex-direction: column;
}

.rendu-bg img {
  max-width: 100%;
  max-height: 100%;
}

.image-prof {
  width: 30px !important;
  height: 30px !important;
  border-radius: 50%;
}

.list-prof {
  margin-left: auto;
}

.rendu {
  width: 15px;
  height: 15px;
  background-color: green;
  box-shadow: 0 1px 5px green;
  border-radius: 100%;
  align-self: center;
  margin-right: 5px;
}

.non-rendu {
  width: 15px;
  height: 15px;
  background-color: red;
  box-shadow: 0 1px 5px red;
  border-radius: 100%;
  align-self: center;
  margin-right: 5px;
}

.content-scroll {
  max-height: 800px;
  overflow-y: auto;
}

.example-card {
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  background-color: white;
}

.content-assignment {
  font-size: 11px;
  margin-top: 5px;
}

.list-content {
  display: flex;
  justify-content: space-evenly;
}

.icon {
  width: 20px;
  margin-top: 4px;
}

.icon-item {
  display: flex;
  align-items: center;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  column-gap: 4px;
  height: 20px;
}

mat-paginator.mat-paginator {
  font-size: 16px;
}

.barrePagination {
  padding-bottom: 2px;
  margin-right: 10%;
  font-size: 18px !important;
}

/* SCROLLING BAR */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0.5);
}

* {
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
}

.default-shadow {
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}
