.assignment-container {
  display: flex;
  flex-direction: column;

}

.ajouterBtn {
  align-self: flex-end;
}

table {
  width: 100%;
}

.mat-column-id {
  color: red;
}



.example-item {
  height: 150px;
}

/* LIST ASSIGNMENTS */
.rendu-bg {
  width: 600px;
  margin-bottom: 2%;
}

.rendu-bg img {
  max-width: 100%;
  max-height: 100%;
}

.list-matiere {
  padding: 2%;
}

.image-matiere {
  width: 100px;
  height: 100px;
}

.image-prof {
  width: 30px !important;
  height: 30px !important;
  border-radius: 50%;
}

.list-prof {
  margin-left: auto;
  padding: 2%;
}

.list-rendu {
  min-width: 600px;
  background-color: #e6e6ef;
  padding: 1%;
  box-shadow:0 0 50px #ccc;
}
.content-scroll{
  max-height: 500px;
  overflow-y: auto;
}
.example-card {
  width: 600px;
  margin-bottom: 8px;
  display: flex;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  background-color: white;
}
.card-link{
  text-decoration: none;

}
.list-info .mat-card-title {
  font-family: 'Work Sans', sans-serif;
  color: #73737b;
}

.content-assignment {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-top: 46px;
}

.content-item {
  padding-left: 4px;
  align-self: self-end;
  color: #b5b5bd;
}

.list-content {
  display: flex;
  justify-content: space-evenly;

}

.rendu-title {
  font-family: 'Nanum Gothic', sans-serif;
  padding-bottom: 11px;
  font-size: 18px;
  font-weight: bold
}

.icon {
  color: #b5b5bd;
  stroke-width: 2;
  align-self: self-end;
}

.icon-item {
  display: flex;
}

.list-info {
  padding-left: 5%;
  padding-top: 2%;
  width: 525px;

}
mat-paginator.mat-paginator {
  font-size: 16px;
}
.barrePagination {
  font-size: 18px !important;
}
/* SCROLLING BAR */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.content-scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.content-scroll {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}