.container {
  display:flex;
  flex-direction: column;
}

.ajouterBtn {
  align-self: flex-end;
}

table {
  width: 100%;
}

.mat-column-id {
  color:red;
}

.example-viewport {
  height: 400px;
  width: 100%;
  border: 1px solid black;
}
.status{
  /* order: 0; */
height: 50px;
  width: 50px;
  /* background-color: green; */
}
.example-item {
  height: 150px;
}
.example-card {
  max-width: 600px;
  margin-bottom: 8px;


}
.title-group {
}
.image-matiere{
  order: 1;
}
.titre{
  order: 2;
}
.image-prof{
  order: 3;
  width: 30px !important;
  height: 30px !important;
  border-radius: 50%;
}
.content-assignment{
  margin-bottom: 8px;
} 
.rendre{
  margin-top: 5px;
}