<!-- create login form -->
<form (ngSubmit)="onSubmit()" #loginForm="ngForm">
  <div class="form-group">
    <label for="username">Username</label>
    <input
      type="text"
      class="form-control"
      id="username"
      name="username"
      [(ngModel)]="nom"
      required
    />
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      [(ngModel)]="mdp"
      required
    />
  </div>
  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="!loginForm.form.valid"
  >
    Login
  </button>
  <a mat-button [routerLink]="'/home'"><i-feather name="home" size="24"></i-feather> Home</a>
</form>
<p appErreur *ngIf="erreur != ''">{{erreur}}</p>
<form (ngSubmit)="logout()" #loginForm="ngForm">
  <button
    type="submit"
    class="btn btn-primary"
  >
    Logout
  </button>
</form>
