<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>assignment</mat-icon>
    </button>
    <span>{{titre}}</span>
    <span class="example-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/home'">Home</a>
      <a mat-button [routerLink]="'/assignments'"> Liste des devoirs </a>
      <a mat-button [routerLink]="'/assignment/add'"> Ajout devoir </a>
    </div>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon></mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar-row>
 
  
</mat-toolbar>
<router-outlet></router-outlet>



