<mat-toolbar style="background-color: #000b39; color: white" *ngIf="islogged">
  <mat-toolbar-row>
    <div class="logo">
      <img src="../assets/image/ASSIGNMENTS.. (1).png" />
    </div>
    <div class="nav-container">
      <a mat-button [routerLink]="'/home'">
        <div class="nav-item ">
          <i-feather name="home" size="24" class="nav-icon"></i-feather>
          <p>Home</p>
        </div>
      </a>
      <a mat-button [routerLink]="''">
        <div class="nav-item">
          <mat-icon class="nav-icon">assignment</mat-icon>
          <p>List of assignments</p>
        </div>
      </a>
      <a mat-button [routerLink]="'/assignment/add'">
        <div class="nav-item">
          <i-feather name="plus-circle" size="24" class="nav-icon"></i-feather>
          <p>Add assignment</p>
        </div>
      </a>
    </div>
    <div style="margin-left: auto; display: flex">
      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        <img mat-card-sm-image class="image-prof" src="{{ image }}" />
      </button>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with share icon"
        (click)="logOut()"
      >
        <i-feather name="log-out" size="12"></i-feather>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>
