<mat-toolbar color="primary" *ngIf="islogged">
  <mat-toolbar-row>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <i-feather name="book" size="24"></i-feather>
    </button>
    <span>{{titre}}<i-feather name="edit-2" size="24"></i-feather></span>
    <div style="margin-left: 10px;">
      <a mat-button [routerLink]="'/home'"><i-feather name="home" size="24"></i-feather> Home</a>
      <a mat-button [routerLink]="''"><mat-icon>assignment</mat-icon>  List of assignments</a>
      <a mat-button [routerLink]="'/assignment/add'"><i-feather name="plus-circle" size="24"></i-feather> Add assignment </a>
    </div>
    <div style="margin-left:auto; display: flex;">
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <img
              mat-card-sm-image
              class="image-prof"
              src="{{ image }}"
            />
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <i-feather name="log-out" size="12"></i-feather> 
      </button>
    </div>
  </mat-toolbar-row>
  <!-- <mat-toolbar-row>
    <app-ng7-mat-breadcrumb></app-ng7-mat-breadcrumb>
  </mat-toolbar-row> -->
</mat-toolbar>

<div class="content">

  <router-outlet></router-outlet>

</div>



