<div class="bg-yellow-500 min-h-[100vh] flex justify-center">
  <mat-stepper
    class="m-auto w-[50%] rounded-md"
    orientation="vertical"
    [linear]="isLinear"
    #stepper
  >
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel
          ><label class="text-[#444444]"> Informations </label></ng-template
        >
        <mat-form-field class="w-full" appearance="fill">
          <mat-label class="text-[#444444]">Libelle</mat-label>
          <input
            matInput
            placeholder="Libelle assignment"
            formControlName="libelle"
            required
          />
        </mat-form-field>
        <br />
        <mat-form-field class="w-full" appearance="fill">
          <mat-label class="text-[#444444]">Choose a date</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="dateDeRendu"
            name="date"
            required
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div class="flex justify-end">
          <button mat-button matStepperNext class="bg-[#000B39] text-white">
            Suivant
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>
          <label class="text-[#444444]"> Matière </label>
        </ng-template>
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Choisir une matière</mat-label>
          <mat-select formControlName="idMatiere" name="idMatiere">
            <mat-option
              *ngFor="let matiere of matieres"
              [value]="matiere.idMatiere"
            >
              {{ matiere.libelle }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="flex justify-end gap-x-3">
          <button class="bg-[#2F8CC1] text-white" mat-button matStepperPrevious>
            Retour
          </button>
          <button class="bg-[#000B39] text-white" mat-button matStepperNext>
            Suivant
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
        <mat-form-field class="w-full">
          <ng-template matStepLabel>
            <label class="text-[#444444]"> Remarque </label>
          </ng-template>
          <input
            formControlName="remarque"
            matInput
            placeholder="Remarque"
            name="nom"
          />
        </mat-form-field>
        <div class="flex justify-end gap-x-3">
          <button class="bg-[#2F8CC1] text-white" mat-button matStepperPrevious>
            Retour
          </button>
          <button
            class="bg-[#a32f4c] text-white"
            mat-button
            (click)="stepper.reset()"
          >
            Réinitialiser
          </button>
          <button
            class="bg-[#23ab60] text-white"
            mat-button
            (click)="onSubmit()"
          >
            Ajouter
          </button>
        </div>
      </form>
    </mat-step>
  </mat-stepper>
</div>
